.partners {
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 70px;
    @include tablets {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @include phones {
      grid-template-columns: 1fr 1fr;
    }
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__pic {
    opacity: 0.4;
    transition: 0.3s;
  }
  &__item:hover .partners__pic {
    opacity: 1;
  }
}