.phone {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  &__text {
    color: #787979;
    font-size: 11px;
  }
  &__link {
    font-size: 26px;
  }
  @include medium {
    align-items: center;
  }
}