include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(href="https://img.icons8.com/dusk/64/000000/video-trimming.png" rel="shortcut icon" type="image/x-icon")
    title Video Production | intro page
  body
    .wrapper-fixed
      .wrapper__content
        .intro
          .intro__main
            .intro__animation
              img.intro__logo(src="logo.png" alt="Лого")
              a.intro__link(href="main.html") Войти
